*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  outline: none;
  cursor: pointer;
}
div {
  outline: none;
}
li {
  list-style-type: none;
}
body {
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  margin: 0 auto;
  font-size: 21px;
}
.header {
  height: 100vh;
}
.contener {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  background-color: #ff8000;
}
.header__top {
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__city {
  width: 25%;
}
.menu__list {
  width: 50%;
  text-align: center;
}
.menu__list-profil-info {
  width: 100%;
}
.menu__list-item,
.menu__list-profil-info,
.menu__list-item-city {
  display: inline-block;
}
.menu-list-list:hover {
  text-decoration: underline;
}
.menu__list-item {
  margin: 0 10px;
}
.menu__list-city-location-icon {
  position: absolute;
  left: -20px;
  top: 0px;
}
.menu__list-city-location-icon img {
  width: 45%;
  font-weight: 700;
}
.menu__list-profil-info-icon-phone img {
  width: 7%;
}
.menu__list-profil-info-phone {
  margin-right: 5px;
}

/* window-city */
.window-change-city {
  position: absolute;
  border: 1px solid white;
  background-color: transparent;
  left: 250px;
  top: 25px;
  width: 12%;
  height: 55px;
  text-align: center;
  border-radius: 5px;
  display: none;
}
.button-change-city {
  width: 30%;
  height: 25px;
  margin-right: 5px;
}
/* list-city */
.menu__list-city-selection {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background: #ff8000;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.menu__list-city-selection:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -5%;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #fff;
}

.list-city {
  position: absolute;
  left: -35%;
  right: 0;
  top: 100%;
  outline: none;
  color: #666666;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  font-weight: normal;
}
.list-city li {
  margin-left: 13px;
}
.list-city li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  min-width: 150px;
  background-color: #ff8000;
  border-bottom: 1px dashed white;
}
.list-city li a:hover {
  background-color: #0fe7e7;
}
.activ {
  opacity: 1;
  pointer-events: auto;
}
.activ:after {
  border-color: #8ab5cc transparent;
  border-width: 6px 6px 0 6px;
  margin-top: -3px;
}
